body {
    background-color: #242329;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(#7a7880 2px, transparent 0);
    background-size: 80px 80px;
    animation: wave 7s infinite linear;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0px;
}

@keyframes wave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -80px;
    }
}
/* 
@keyframes spinpfp {
    0% {
        transform: rotate(0deg);
        background-image: url('images/pfp.png');
    }
    100% {
        transform: rotate(360deg);
        background-image: url('images/pfp.png');
    }
} */

@keyframes popout {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    10% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes popin {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    10% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}
/* .leave {
    background-image: none;
} */
#outer {
    overflow: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #28272e;
    width: 40%;
    max-width: 80%;
    position: absolute;
    font-family: 'Cascadia Code', monospace;
    border-radius: 2.75rem;
    border: #535258 2px solid;
    box-shadow: inset 0 0 6px #000, 0 0 20px #000;
    height: 80%;
    margin-top: 10px;
    animation: popout 1.1s forwards ease-in-out;
}
.leave > #outer {
    animation: popin 1.1s forwards ease-in-out !important;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
#bottom {
    border-top: #535258 2px solid;
    box-shadow: inset 0 0 6px #000, 0 0 6px #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
    overflow-y: auto;
    text-align: center;
    align-content: center;
}
#content {
    padding: 20px;
    padding-top: 0px;
    padding-left: 27px;
}
.highlight {
    background: linear-gradient(45deg, #8C51D6, #DE8B5D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.social {
    color: #fff;
    text-decoration: none;
    transition: all 250ms;
}
#github:hover {
    color: #8768c2;
}
#pfp {
    border-radius: 50%;
    border: #3a393f 2px solid;
    padding: 3px;
    width: 75px;
    height: 75px;
    margin: 20px;
    margin-bottom: 5px;
    background: #242329;
    background-image: url('images/pfp.gif');
    background-size: cover;
    box-shadow: inset 0 0 6px #000, 0 0 25px #000;
}
#source {
    border-radius: 50%;
    position: relative;
    top: 0;
    right: 0;
    border: #3a393f 2px solid;
    width: 100%;
    height: 100%;
    background: #242329;
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 35px;
    background-size: cover;
    line-height: 100%;
    box-shadow: inset 0 0 6px #000, 0 0 25px #000;
    cursor: pointer;
}
#sourcelink {
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    right: 10px;
    width: 81px;
    height: 81px;
    margin: 20px;
    padding: 3px;
    transform: translateY(-3px);
}
button {
    background-color: #535258;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0px;
    cursor: pointer;
    transition: margin 250ms, background-color 250ms;
}
button:hover {
    background-color: #464646;
    margin: 15px 10px;
}
button:active {
    background-color: #DE8B5D;
    margin: 15px 0px;
}
.social {
    font-size: 25px;
}
@media (prefers-color-scheme: light) {
    body {
        background-color: #e9e9e9;
        background-image: radial-gradient(#4e4c53 2px, transparent 0);
    }
    #outer {
        background-color: #ffffff;
        color: black;
        border: #cacacb 2px solid;
        box-shadow: 0 0 20px #ffffff;
    }
    #bottom {
        border-top: #cacacb 2px solid;
        box-shadow: 0 0 6px #ffffff;
    }
    #pfp {
        border: #b6b6b6 3px solid;
        box-shadow: none;
    }
    button {
        background-color: #d3d2d7;
        color: #000000;
    }
    button:hover {
        background-color: #b6b6b6;
        margin: 10px;
    }
    button:active {
        background-color: #DE8B5D;
        margin: 0px;
    }
    #github:hover {
        color: #8957e5;
    }
    .social {
        color: #000;
    }
    #source {
        border: #b6b6b6 3px solid;
        box-shadow: none;
    }
}