#container {
    display: block;
}
.container {
    align-items: center;
    justify-content: center;
    border-color: #222222;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.411);
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    position: absolute;
}

.item {
    text-align: center;
}

body {
    background: linear-gradient(to bottom right, #0ba3e9, #8a41ff);
    margin: 0;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
html, body {
    margin: 0;
    height: 100%;
}